  
  .section {
    border-bottom: 1px solid #dee2e6 !important;
    border: 2px solid rgba(0, 0, 0, .05);
    box-shadow: 6px 6px 6px #d3d0d0;
    padding: 20px 20px 20px 20px;
    margin-top: 60px;
    margin-left: 30px;
    width: 97%;
    font-size: 1.2em;
    display: block;
  }
  
  .searchButton input[type=text] {
    position:absolute; 
    top:180px; 
    left:64%;
    padding: 6px;
    border: 1px solid #dee2e6 !important;
    font-size: 17px;
  }